body{
    background-color: black;
    color: #ffff;
    font-family: 'REM', sans-serif;
}
.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.logo{
    width: 30em;
}

.introduction{
    text-align: center;
    padding: 3em;
    margin-bottom: 2em;
}

.teamOffice{
    width: 70em;
    padding: 1em;
}
.display{
    display: none;
}
#listDivEpisodesDisplay{
display: none;
}
.titleSaison
{
    font-size: 4em;
    margin: 1em;
}
.numbEpisode{
    padding: 2em;
    font-size: 1.5em;
    list-style: none;
}
.titleEpisode{
    text-decoration: underline;
    padding: 1em;
}
.welcomeBackButton{
    padding: 1em;
}
footer{
    text-align: center ;
}